API_ID=21696829
API_HASH=c0e23cf3dfa118239951a88bd0f4c6b7
BOT_TOKEN=8145130824:AAGltfo0ng8Zj15jayu6GAOSpWLOTVKzs9M
LOGGER_ID=-1002610492102
API_KEY=NxGBNexGenBots5b2d9a
MONGO_DB_URI=mongodb+srv://carofo7264:carofo7264@cluster0.s2ptcja.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7569863273
STRING_SESSION=BQFLET0AFh6n7KBwBjKVkVFz54immUN4U-VRiYwRR0aeHahgubnXWTmeAvw19KuepuNo427NUenvSxnmn1THcpTRH2LybNVwX5W7_VycqHMtuL6eXu68RS-5Hs8zUwwAowYibenA3m0HlywkNy8Rby0EmtCHf7RgSHefkB3tufaUsYgVmRujUAM74hu9QtyXA3q1USx2d_lgGTe201dJ3w42aOJwQ41PU3jZKGR8ra58s4N3UGGTRUKC7SNt5SD7vN8zkCAWRMZo_8kcbMdJ4-NtJlpE2AKlVgEJVAGKUqULEn1DCc3kc6vbrxJgEbe1JN5p-zPcX_drm8KsHinz2HuDO4Lg6wAAAAHFQ4z7AA
